<div>
    <h1 class="text-center mb-3">Login</h1>
    <a href="/auth/google">
        <button type="submit" class="btn btn-outline-primary btn-block">
            With Google
        </button>
    </a>
</div>
